<div class="page-header">
  <h1>Abstracts</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newAbstractsPath() %>" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-lg fa-file-text"></i>Create New Abstract</a></li>
</ul>

<table class="table table-striped">

  <tbody>
    <%= for (abstract) in abstracts { %>
      <tr>
      <td><a href="<%= abstractPath({ abstract_id: abstract.ID }) %>"><%= abstract.Title %></a></td>
        <td><%= abstract.OneSentenceDescription %></td>
        <td>
          <div class="pull-right">
            <a href="<%= abstractPath({ abstract_id: abstract.ID }) %>" class="btn btn-info btn-sm"><i class="fa fa-fw fa-lg fa-eye"></i></a>
            <a href="<%= editAbstractPath({ abstract_id: abstract.ID }) %>" class="btn btn-warning btn-sm"><i class="far fa-lg fa-pencil-alt"></i></a>
            <a href="<%= abstractPath({ abstract_id: abstract.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="far fa-lg fa-trash-alt"></i></a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
