<div class="page-header">
  <h1><%= abstract.Title %></h1>
</div>

<p>
  <strong>Title</strong>: <%= abstract.Title %>
</p>

<%= checkNull() %>

<%= if (abstract.OneSentenceDescription.String != "") { %>
  <p>
      <strong>One Sentence Description</strong>: <%= abstract.OneSentenceDescription %>
  </p>
<% } %>

<%= if (abstract.ShortDescription.String != "") { %>
<p>
  <strong>Short Description</strong>: <%= abstract.ShortDescription %>
</p>
<% } %>
<p>
  <strong>Abstract</strong>: <%= abstract.Abstract %>
</p>
<p>
  <strong>Talk Type</strong>: <%= capitalize(abstract.TalkType.String) %>
</p>

<i>Created on <%= abstract.CreatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail() %></i>
<br />
<i>Last updated on <%= abstract.UpdatedAt.Format("January 02, 2006 15:04:05") %></i>
<hr />

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= abstractsPath() %>" class="btn btn-info">Back to all Abstracts</a></li>
  <li class="list-inline-item"><a href="<%= editAbstractPath({ abstract_id: abstract.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= abstractPath({ abstract_id: abstract.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>