<div class="page-header">
  <h1><%= abstract.Title %></h1>
</div>

<p>
  <strong>Title</strong>: <%= abstract.Title %>
</p>

<%= checkNull() %>

<%= if (abstract.OneSentenceDescription.String != "") { %>
  <p>
      <strong>One Sentence Description</strong>: <%= abstract.OneSentenceDescription %>
  </p>
<% } %>

<%= if (abstract.ShortDescription.String != "") { %>
<p>
  <strong>Short Description</strong>: <%= abstract.ShortDescription %>
</p>
<% } %>
<p>
  <strong>Abstract</strong>:
</p>
  <p>
    <%= markdown(abstract.Abstract) %>
</p>
<p>
  <strong>Talk Type</strong>: <%= capitalize(abstract.TalkType.String) %>
</p>

<hr />

<div class = "row">
    <div class = "col-md-8">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="<%= abstractsPath() %>" class="btn btn-info btn-sm"><i class="far fa-lg fa-arrow-left"></i>&nbsp;Back to all Abstracts&nbsp;</a></li>
            <li class="list-inline-item"><a href="<%= editAbstractPath({ abstract_id: abstract.ID })%>" class="btn btn-warning btn-sm"><i class="far fa-lg fa-pencil-alt"></i>&nbsp;Edit</a></li>
            <li class="list-inline-item"><a href="<%= abstractPath({ abstract_id: abstract.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="far fa-lg fa-trash-alt"></i>&nbsp;Destroy</a>
          </ul>
    </div>
    <div class = "col-md-4 meta-text">
        <i>Created on <%= abstract.CreatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(abstract.UserID) %></i>
        <br />
        <i>Last updated on <%= abstract.UpdatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(abstract.UpdatedBy) %></i>
    </div>
</div>