<div class="page-header">
  <h1><%= abstract.Title %></h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= abstractsPath() %>" class="btn btn-info">Back to all Abstracts</a></li>
  <li class="list-inline-item"><a href="<%= editAbstractPath({ abstract_id: abstract.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= abstractPath({ abstract_id: abstract.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Title</strong>: <%= abstract.Title %>
</p>
<p>
  <strong>One Sentence Description</strong>: <%= abstract.OneSentenceDescription %>
</p>
<p>
  <strong>Short Description</strong>: <%= abstract.ShortDescription %>
</p>
<p>
  <strong>Abstract</strong>: <%= abstract.Abstract %>
</p>
<p>
  <strong>Talk Type</strong>: <%= abstract.TalkType %>
</p>
