<div class="page-header">
  <h1>Sponsorships</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newSponsorshipsPath() %>" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-lg fa-file-text"></i>Create New Sponsorship</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Event</th>
    <th>Status</th>
    <th>Location</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (sponsorship) in sponsorships { %>
      <tr>
      <td><%= getEventName(sponsorship.EventID) %></td>
        <td><%= sponsorship.Status %></td>
        <td><%=getEventLocation(sponsorship.EventID) %></td>
        <td>
          <div class="pull-right">
            <a href="<%= sponsorshipPath({ sponsorship_id: sponsorship.ID }) %>" class="btn btn-info btn-sm"><i class="fa fa-fw fa-lg fa-eye"></i></a>
            <a href="<%= editSponsorshipPath({ sponsorship_id: sponsorship.ID }) %>" class="btn btn-warning btn-sm"><i class="fa fa-fw fa-lg fa-pencil-square-o"></i></a>
            <a href="<%= sponsorshipPath({ sponsorship_id: sponsorship.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-lg fa-trash"></i></a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
