<div class="page-header">
  <h1>Dutonians</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newDutoniansPath() %>" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-lg fa-file-text"></i>Create New Dutonian</a></li>
</ul>

<table class="table table-striped">
  <!-- <thead>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Bio</th>
    <th>&nbsp;</th>
  </thead> -->
  <tbody>
    <%= for (dutonian) in dutonians { %>
      <tr>
        <td><a href="<%= dutonianPath({ dutonian_id: dutonian.ID }) %>"><%= dutonian.Firstname %>&nbsp;<%= dutonian.Lastname %></a></td>
        <td>
          <div class="pull-right">
            <a href="<%= dutonianPath({ dutonian_id: dutonian.ID }) %>" class="btn btn-info btn-sm"><i class="fa fa-fw fa-lg fa-eye"></i></a>
            <a href="<%= editDutonianPath({ dutonian_id: dutonian.ID }) %>" class="btn btn-warning btn-sm"><i class="far fa-lg fa-pencil-alt"></i></a>
            <a href="<%= dutonianPath({ dutonian_id: dutonian.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="far fa-lg fa-trash-alt"></i></a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
