<div class="page-header">
  <h1><%= dutonian.Firstname %>&nbsp;<%= dutonian.Lastname %></h1>
</div>


<div class = "row">
    <div class = "col-md-8">
        <%= if (dutonian.Bio.String != "") { %>

            <p>
               <%= markdown(dutonian.Bio.String) %>
            </p>
            
            <% } %>
    </div>
    <div class = "col-md-4">
        <%= if (dutonian.PhotoName != "") { %>
            <a href = "<%= buildS3Url %>uploads/dutonians/<%= dutonian.Lastname %>/<%= dutonian.Firstname %>/<%= dutonian.PhotoName %>"><img class = "img-thumbnail" src = "https://s3.amazonaws.com/xela-dev/uploads/dutonians/<%= dutonian.Lastname %>/<%= dutonian.Firstname %>/<%= dutonian.PhotoName %>"></a>
        
        <% } %>
    </div>
</div>

<%= if (dutonian.Twitter.String != "") { %>
<p>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> <a href = "https://wwww.twitter.com/<%= dutonian.Twitter %>"><%= dutonian.Twitter %></a>
</p>
<% } %>

<%= if (dutonian.Github.String != "") { %>
<p>
    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i> <a href = "https://www.github.com/<%= dutonian.Github %>"><%= dutonian.Github %></a>
</p>
<% } %>

<%= if (dutonian.Homepage.String != "") { %>
<p>
    <i class="fa fa-home fa-2x" aria-hidden="true"></i> <a href = "<%= dutonian.Homepage %>"><%= dutonian.Homepage %></a>
</p>
<% } %>

<hr />

<div class = "row">
    <div class = "col-md-8">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="<%= dutoniansPath() %>" class="btn btn-info"><i class="fa fa-fw fa-lg fa-arrow-left"></i>Back to all Dutonians&nbsp;</a></li>
            <li class="list-inline-item"><a href="<%= editDutonianPath({ dutonian_id: dutonian.ID })%>" class="btn btn-warning"><i class="fa fa-fw fa-lg fa-pencil-square-o"></i>Edit</a></li>
            <li class="list-inline-item"><a href="<%= dutonianPath({ dutonian_id: dutonian.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger"><i class="fa fa-fw fa-lg fa-trash"></i>Destroy</a>
          </ul>
    </div>
    <div class = "col-md-4 meta-text">
        <i>Created on <%= dutonian.CreatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(dutonian.UserID) %></i>
        <br />
        <i>Last updated on <%= dutonian.UpdatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(dutonian.UpdatedBy) %></i>
    </div>
</div>

