<div class="page-header">
  <h1><%= dutonian.Firstname %>&nbsp;<%= dutonian.Lastname %></h1>
</div>

<%= if (dutonian.Bio.String != "") { %>


<p>
   <%= markdown(dutonian.Bio.String) %>
</p>

<% } %>

<%= if (dutonian.Twitter.String != "") { %>
<p>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> <a href = "https://wwww.twitter.com/<%= dutonian.Twitter %>"><%= dutonian.Twitter %></a>
</p>
<% } %>

<%= if (dutonian.Github.String != "") { %>
<p>
    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i> <a href = "https://www.github.com/<%= dutonian.Github %>"><%= dutonian.Github %></a>
</p>
<% } %>

<%= if (dutonian.Homepage.String != "") { %>
<p>
    <i class="fa fa-home fa-2x" aria-hidden="true"></i> <a href = "<%= dutonian.Homepage %>"><%= dutonian.Homepage %></a>
</p>
<% } %>

<i>Created on <%= dutonian.CreatedAt.Format("January 02, 2006 15:04:05") %></i>
<br />
<i>Last updated on <%= dutonian.UpdatedAt.Format("January 02, 2006 15:04:05") %></i>
<hr />

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= dutoniansPath() %>" class="btn btn-info">Back to all Dutonians</a></li>
  <li class="list-inline-item"><a href="<%= editDutonianPath({ dutonian_id: dutonian.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= dutonianPath({ dutonian_id: dutonian.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>