<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Xela</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>

    <div class="container">
      <!-- NavBar -->
      <nav class="navbar fixed-top navbar-expand-lg header">
        <a class="navbar-brand" href="<%= rootPath() %>">
            <img src="/assets/images/x-logo-green.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/events">EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dutonians">DUTONIANS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/abstracts">ABSTRACTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proposals">PROPOSALS</a>
            </li>
            </ul>
            <ul class="navbar-nav">

              <%= if (current_user) { %>
                <li class="nav-item">
                  <%= current_user.Name %>
                </li>
                <li class="nav-item">
                    <a href="/auth" data-method="DELETE" class="nav-link">Logout</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                    <a href="auth/google" class="nav-link">Login</a>
                </li>
              <% } %>
            </ul>
        </div>
        </nav> 
        <!-- End NavBar --> 
        </div>
        <div class="container main-body">      
            <%= partial("flash.html") %>
            <%= yield %>
        </div>


    <footer class="bg-dark text-white mt-4">
        <div class="container-fluid py-3 footer">
            <div class="row">
                <div class="col-md-3">
                    <h5>About XELA</h5></div>
                <div class="col-md-3">Community Links</div>
                <div class="col-md-3">Speaking Links</div>
                <div class="col-md-3"><img src = "/assets/images/logo-pagerduty.png" class="img-fluid"></div>
            </div>
            <div class="row">
                <div class="col-md-3 small">XELA is the tool used by PagerDuty for tracking event sponsorships, 
                speaking engagements, CFPs, and more!
                </div>
                <div class="col-md-3 small">
                    <ul>
                        <li>
                            link one
                        </li>
                        <li>
                            link two
                        </li>
                        <li>
                            link three
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 small">
                    <ul>
                        <li>
                            link one
                        </li>
                        <li>
                            link two
                        </li>
                        <li>
                            link three
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right small align-self-end">©2018 PagerDuty</div>
            </div>
        </div>
    </footer>
    <%= javascriptTag("application.js") %>
  </body>
</html>
