<div class="page-header">
  <h1>Proposals</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newProposalsPath() %>" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-lg fa-file-text"></i>Create New Proposal</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Speaker</th>
    <th>Abstract</th>
    <th>Event</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (proposal) in proposals { %>
      <tr>
      <td><a href="<%= dutoniansPath() %><%= proposal.SpeakerID %>"><%= getSpeakerName(proposal.SpeakerID) %></a></td>
        <td><a href="<%= abstractsPath() %><%= proposal.AbstractID %>"><%= getAbstractName(proposal.AbstractID) %></a></td>
        <td><a href="<%= eventsPath() %><%= proposal.EventID %>"><%= getEventName(proposal.EventID) %></a>
        <td><%= proposal.Status %></td>
        <td>
          <div class="pull-right">
            <a href="<%= proposalPath({ proposal_id: proposal.ID }) %>" class="btn btn-info btn-sm"><i class="fa fa-fw fa-lg fa-eye"></i></a>
            <a href="<%= editProposalPath({ proposal_id: proposal.ID }) %>" class="btn btn-warning btn-sm"><i class="far fa-lg fa-pencil-alt"></i></a>
            <a href="<%= proposalPath({ proposal_id: proposal.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="far fa-lg fa-trash-alt"></i></a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
