<div class = "row">
    <div class = "col-md-6">
            <%= f.InputTag("Title") %>
            <%= f.InputTag("EventBeginDate", {id: "datepicker"}) %>
            <%= f.InputTag("EventEndDate", {id: "datepicker"}) %>
            <%= f.InputTag("Location") %>
            <%= f.InputTag("HomePage", {label: "Event Homepage URL"}) %>
            <%= f.InputTag("SchedulePage", {label: "Event Schedule URL"}) %>
            <%= f.InputTag("SponsorPage", {label: "Event Sponsor Page URL"}) %>
            <%= f.InputTag("CfpBeginDate", {label: "CFP Begin Date",id: "datepicker"}) %>
            <%= f.InputTag("CfpEndDate", {label: "CFP End Date",id: "datepicker"}) %>
            <%= f.InputTag("CfpPage", {label: "CFP URL"}) %>
            <%= f.InputTag("RegistrationPage", {label: "Registration URL"}) %>
            <%= f.InputTag("EventReport", {label: "Event Report URL"}) %>
            <%= f.InputTag("Attendance") %>
            <%= f.FileTag("Logo") %>
            <button class="btn btn-success" role="submit">Save</button>
    </div>
    <div class = "col-md-6">
        <h2>Instructions for Event Form</h2>
        <p>
            The <em>Title</em> is required.
        </p>
        <p>
            It is also required to provide an Event Logo, or you will get an error.
        </p>
        <p>
            All other fields are optional.
        </p>
    </div>
</div>


