<%= f.InputTag("Title") %>
<%= f.Label("Event Start Date") %>
<%= f.DateTimeTag("EventBeginDate") %><br>
<%= f.Label("Event End Date") %>
<%= f.DateTimeTag("EventEndDate") %>
<%= f.TextAreaTag("Location", {rows: 1}) %>
<%= f.TextAreaTag("HomePage", {rows: 1}) %>
<%= f.TextAreaTag("SchedulePage", {rows: 1}) %>
<%= f.TextAreaTag("SponsorPage", {rows: 1}) %>
<%= f.TextAreaTag("CfpPage", {rows: 1}) %>
<%= f.TextAreaTag("RegistrationPage", {rows: 1}) %>
<%= f.TextAreaTag("EventReport", {rows: 1}) %>
<%= f.InputTag("Attendance") %>
<%= f.FileTag("Logo") %>
<button class="btn btn-success" role="submit">Save</button>
