<div class = "row">
  <div class = "col-md-8">
      <h1><%= event.Title %></h1>
      <!-- put all the other stuff here-->
      
      <div class = "row">
        <div class = "col-md-12">
          <%= event.EventBeginDate.Format("January 02, 2006 15:04:05") %> - <%= event.EventEndDate.Format("January 02, 2006") %>
        </div>
      </div>

      <ul class="list-group list-group-flush">

      <%= if (event.Location.String != "") { %>
            <li class="list-group-item"><strong>Location</strong>: <%= event.Location %></li>
      <% } %>
      <%= if (event.HomePage.String != "") { %>
            <li class="list-group-item"><strong>Home Page</strong>: <a href = "<%= event.HomePage %>"><%= event.HomePage %></a></li>
      <% } %>
      <%= if (event.SchedulePage.String != "") { %>
            <li class="list-group-item"><strong>Schedule Page</strong>: <a href = "<%= event.SchedulePage %>"><%= event.SchedulePage %></a></li>
      <% } %>
      <%= if (event.SponsorPage.String != "") { %>
            <li class="list-group-item"><strong>Sponsor Page</strong>: <a href = "<%= event.SponsorPage %>"><%= event.SponsorPage %></a></li>
      <% } %>
      <%= if (event.CfpPage.String != "") { %>
            <li class="list-group-item"><strong>CFP Page</strong>: <a href = "<%= event.CfpPage %>"><%= event.CfpPage %></li></a>
      <% } %>
      <%= if (event.RegistrationPage.String != "") { %>
          <li class="list-group-item"><strong>Registration Page</strong>: <a href = "<%= event.CfpPage %>"><%= event.RegistrationPage %></a></li>
      <% } %>
      <%= if (event.EventReport.String != "") { %>
            <li class="list-group-item"><strong>Event Report</strong>: <a href = "<%= event.CfpPage %>"><%= event.EventReport %></a></li>
      <% } %>
      <%= if (event.Attendance != null) { %>
        <li class="list-group-item"><strong>Attendance</strong>: <%= event.Attendance %></li>
      <% } %>
      </ul>
      <!-- end main stuff-->
  </div>
  <div class = "col-md-4">
    <%= if (event.LogoName != "") { %>
      <a href = "<%= buildS3Url() %>uploads/events/<%= event.LogoName %>"><img class = "img-fluid" src = "<%= buildS3Url() %>uploads/events/<%= event.LogoName %>"></a>
    <% } %>
  </div>
</div>

<hr />

<div class = "row">
    <div class = "col-md-8">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="<%= eventsPath() %>" class="btn btn-info btn-sm"><i class="far fa-lg fa-arrow-left"></i>&nbsp;&nbsp;Back to all events&nbsp;</a></li>
            <li class="list-inline-item"><a href="<%= editEventPath({ event_id: event.ID })%>" class="btn btn-warning btn-sm"><i class="far fa-lg fa-pencil-alt"></i>&nbsp;Edit</a></li>
            <li class="list-inline-item"><a href="<%= eventPath({ event_id: event.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="far fa-lg fa-trash-alt"></i>&nbsp;Destroy</a>
          </ul>
    </div>
    <div class = "col-md-4 meta-text">
        <i>Created on <%= event.CreatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(event.UserID) %></i>
        <br />
        <i>Last updated on <%= event.UpdatedAt.Format("January 02, 2006 15:04:05") %> by <%= getUserEmail(event.UpdatedBy) %></i>
    </div>
</div>